[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Campus France]
row=7
col=1

[/home/birkhoff/Bureau/D.I]
row=5
col=0

[/home/birkhoff/Bureau/Fiscalité]
row=5
col=1

[/home/birkhoff/Bureau/Gimp]
row=3
col=1

[/home/birkhoff/Bureau/Marketing GRC]
row=4
col=1

[/home/birkhoff/Bureau/MQG]
row=3
col=0

[/home/birkhoff/Bureau/Izahomy021987]
row=1
col=1

[/home/birkhoff/Bureau/D Trav]
row=8
col=0

[/home/birkhoff/Bureau/Apprendre le JavaScript]
row=6
col=1

[/home/birkhoff/Bureau/Inkscape]
row=2
col=1

[/home/birkhoff/Bureau/APPRENEZ À PROGRAMMER EN PYTHON.pdf]
row=9
col=0

[/home/birkhoff/Bureau/Math Appli Gestion]
row=4
col=0

[/home/birkhoff/Bureau/Formation Git]
row=6
col=0

[/home/birkhoff/Bureau/Mettre en place un serveur web]
row=1
col=0

[/home/birkhoff/Bureau/Synthese FRS]
row=2
col=0

[/home/birkhoff/Bureau/Salohy.txt]
row=0
col=1

[/home/birkhoff/Bureau/G Prev]
row=7
col=0

[/home/birkhoff]
row=0
col=0

