[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Bureau/Campus France]
row=1
col=3

[/home/birkhoff/Bureau/D.I]
row=1
col=13

[/home/birkhoff/Bureau/Fiscalité]
row=0
col=13

[/home/birkhoff/Bureau/Gimp]
row=8
col=15

[/home/birkhoff/Bureau/Marketing GRC]
row=0
col=14

[/home/birkhoff/Bureau/MQG]
row=2
col=15

[/home/birkhoff/Bureau/Izahomy021987]
row=1
col=5

[/home/birkhoff/Bureau/D Trav]
row=2
col=14

[/home/birkhoff/Bureau/Apprendre le JavaScript]
row=2
col=17

[/home/birkhoff/Bureau/Inkscape]
row=8
col=16

[/home/birkhoff/Bureau/Salohy.txt]
row=1
col=4

[/home/birkhoff/Bureau/Formation Git]
row=3
col=17

[/home/birkhoff/Bureau/Math Appli Gestion]
row=3
col=15

[/home/birkhoff/Bureau/Mettre en place un serveur web]
row=1
col=17

[/home/birkhoff/Bureau/Synthese FRS]
row=1
col=15

[/home/birkhoff/Bureau/G Prev]
row=1
col=14

[/home/birkhoff]
row=0
col=0

