[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/birkhoff/Desktop/FB_IMG_15441226846983137.jpg]
row=5
col=17

[/home/birkhoff/Desktop/Gestion de compte.ods]
row=3
col=18

[/home/birkhoff/Desktop/Cours Algo]
row=0
col=13

[/home/birkhoff/Desktop/GESTION ADMINISTRATIVE GRH]
row=2
col=13

[/home/birkhoff/Desktop/LibreOffice Base]
row=1
col=18

[/home/birkhoff/Desktop/D.I]
row=1
col=13

[/home/birkhoff/Desktop/Carnet de note.ods]
row=4
col=18

[/home/birkhoff/Desktop/Marketing GRC]
row=1
col=17

[/home/birkhoff/Desktop/GLC]
row=5
col=16

[/home/birkhoff/Desktop/Memoire]
row=2
col=16

[/home/birkhoff/Desktop/GRH - S5 (Darija) - YouTube.mkv]
row=2
col=14

[/home/birkhoff/Desktop/FB_IMG_15441226750195553.jpg]
row=4
col=17

[/home/birkhoff/Desktop/Math App]
row=1
col=15

[/home/birkhoff/Desktop/Utiliser LibreOffice Texte ( Formation Informatique débutants). - YouTube.mkv]
row=2
col=17

[/home/birkhoff/Desktop/Fiscalité]
row=2
col=15

[/home/birkhoff/Desktop/CR FRS]
row=0
col=16

[/home/birkhoff/Desktop/CloneZilla]
row=0
col=17

[/home/birkhoff/Desktop/DCG UE 11. GESTION DES STOCKS. MODÈLE DE WILSON - YouTube.mkv]
row=3
col=15

[/home/birkhoff/Desktop/Résumé Génerale_ Legislation du Travail [360p].webm]
row=3
col=16

[/home/birkhoff/Desktop/droit du travail - YouTube.mp4]
row=1
col=14

[/home/birkhoff/Desktop/TJ ou Dec]
row=0
col=15

[/home/birkhoff/Desktop/LibreOffice Calc]
row=2
col=18

[/home/birkhoff]
row=0
col=18

